body.active {
    .ss-has-sidebar {
        .ss-main-content {
            @include media-breakpoint-up(lg) {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}

.ss-has-sidebar {
    .ss-main-content {
        display: block;
        padding-top: 4.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        transition: all 0.5s ease;

        @include media-breakpoint-up(lg) {
            width: calc(100% - 260px);
            margin-left: 260px;
        }
    }
}

.ss-tab-content {
    display: none;
    transition: .3s ease-in-out;
    padding-top: 1rem;

    &.active {
        display: block;
    }
}

.ss-mobile {
    @include media-breakpoint-up(lg) {
        display: none;
    }
}