.ss-navbar {
    display: flex;
    padding: 1rem;
    background-color: $white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px -1px rgba($dark-blue-100, .15);

    &__nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0;
        margin: 0 -10px;
    }

    &--right {
        margin-left: auto;
    }

    &__item {
        padding: 0 10px;
    }
}

/* ss-dropdown */
.ss-dropdown {
    position: relative;

    &__menu {
        list-style: none;
        display: none;
        flex-direction: column;
        position: absolute;
        right: 20%;
        top: 120%;
        background-color: $body-bg;
        min-width: 300px;
        box-shadow: rgba($dark-blue-200, 0.07) 0px 0px 0px 1px, rgba($dark-blue-500, 0.2) 0px 2px 12px 0px;
        z-index: 1;
        border-radius: 4px;
        padding: 0;

        &-item {
            width: 100%;

            &.ss-user-info,
            &:nth-child(3) {
                border: 1px solid transparent;
                border-bottom-color: rgba($dark-blue-100, 0.15);
            }

            &:nth-child(2) {
                padding-top: 8px;
            }

            &:nth-child(3) {
                padding-bottom: 8px;
            }
        }

        &-link {
            display: block;
            padding: 0.5625rem 1.125rem;
            text-decoration: none;
            color: $body-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover,
            &:focus {
                background-color: rgba($dark-blue-200, .07);
                color: $body-color;
                text-decoration: none;
            }

            [class^="icon-"],
            [class*="icon-"] {
                @include font-size(1.5rem);
                color: $black;
            }
        }
    }

    &__expand {
        display: flex;
    }
}